.media-block{
  display: flex;
  align-items: center;
  gap:2rem;
  margin: 4rem 0;
}
.media-block-hed{
  font-size: 3.5rem;
  font-weight: 600;
}
.media-block-desc{
  font-size: 1.2rem;
}
.media-block-img{
  border-radius: 1rem;
  overflow: hidden;
}

.blog-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 4rem 0;
}
.card-block{
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #f4f4f4;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 2%);
    -webkit-transition: border-color 300ms ease, -webkit-transform 300ms ease;
    transition: border-color 300ms ease, -webkit-transform 300ms ease;
    transition: border-color 300ms ease, transform 300ms ease;
    transition: border-color 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  
}
.card-block:hover {
  /* border-color: #141414; */
  -webkit-transform: scale3d(0.99, 0.99, 1.01);
  transform: scale3d(0.99, 0.99, 1.01);
 }
.card-block-body{
  padding: 1rem 2rem 2rem 2rem;
}
.card-block-hed{
  font-size: 24px;
margin: 1rem 0;
color: #0e0065;
font-family: 'Quicksand', sans-serif;
}
.card-block-desc{
  color: #0d006590;
  font-size: 18px;
}
.card-block-footer{
  padding-top:1rem;
  border-top: 1px solid #f4f4f4;
}
.card-block-footer-grid{
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
}
.blog-profile{
  width: 50px;
  border-radius: 50px;
}
.blog-date{
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}
.blog-author{
  margin: 0;
}
@media (max-width: 1399.98px) { 

}
@media (max-width: 1199.98px) { 

}
@media (max-width: 991.98px) { 
 .blog-grid{
   grid-template-columns: 1fr 1fr;
 }
 .media-block{
   flex-direction: column;
 }
}
@media (max-width: 767.98px) {
  .blog-grid{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575.98px) { 
  .media-block-hed {
    font-size: 2rem;
  }
}