legend, label, input, ul, li{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{ text-decoration: none;}
.navbar-brand .logo{
  font-size: 1.5rem;
  font-weight: 700;
  color: #0e0065;
}
.input-toggler{ display: none;}
.menu-toggler{  position: absolute;
  right: 100px;
  top: 0px;
  width: 55px;
  height: 90px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;}

.menu-toggler-line{width: 60%; height:3px; background:#45505b; margin: 0 0 8px 0px; position: relative; transition: all .40s ease-out;}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line {top: 5px; translateY:100px;  transform:rotate(45deg);}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {display: none;}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {top: -5px; translateY:10; transform:rotate(135deg);}

.nav{ width: 100%; height: 100%; background:rgba(0,0,0, 0.8);}
.nav ul{ width: 100%;}
.nav ul li{ width: 100%; text-align: center;}
.nav ul li a{display: inline-block; font-size: 36px; color: #fff; text-transform: uppercase;}

.sidebar {z-index: 9;position: absolute; top: 0; height: 100vh; width: 100%; background:#ffffffd6; opacity: 0.5;

display: flex;
justify-content: center;
align-items: center;

transform: translateX(-100%);

transition: all .40s ease-out;
}

.menu-link {color: #0e0065;font-size: 2rem;
  font-weight: 700; -webkit-transition: all .25s ease-out; transition: all .25s ease-out;}
.menu-link:hover, .menu-link:focus, .menu-link:active {color: rgb(61, 61, 61);}

.input-toggler:checked ~ .sidebar {transform: translateX(0%); opacity: .98;}
@media (max-width: 992px) {
  .menu-toggler{ 
  right: 50px;
}
}
@media (max-width: 576px) {
  .menu-toggler{ 
  right: 10px;
}
}