.top-header-links{
  display: flex;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.top-header-links li a{
  color: #0d0065a2;
  text-decoration: none;
  transition: all ease 0.3s;
  font-weight: 500;
  
}
.top-header-links li a:hover{
  color: #0e0065;
  text-decoration: none;
  transition: all ease 0.3s;
  
}