
body {
  font-family: 'Poppins', sans-serif;
  color: #272829;
  background: url("../img/bg.png") top right no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.recet-works{
  padding-bottom: 3rem;
}
.nav-ul{
  margin-bottom: 3rem;
}
.nav-ul li{
  margin-bottom: 10px;
}
.nav-ul li button{ 
  background-color: transparent;
  border: none;
  margin-right: 0.8rem;
  transition: all ease 0.3s;
  color: #7b7b7b;



border-radius: 5px;
font-weight: 400;
padding: 1rem 2rem;
}
.nav-ul li button:hover,.nav-ul li button.active{

  color: #7b7b7b;
  transition: all ease 0.3s;
  
background: #f7f7f7;
}
.work-block{
  
}
.Work-info{
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
  background: #fff;
  padding: 1.2rem;
  box-shadow: 1px 1px 25px #f2f2f2;
}
.work-info .work-title{
  color: #7b7b7b;
  font-weight: 400;
  margin-top: 15px;
}
.work-title{
  color: #45505b;
  margin-top: 15px;
}

.Work-block .portfolio-links{
 width:50px !important;
 height:50px !important;
 background: #440707;
 border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.Work-block .portfolio-links a i{
  color:white;

 }
.Work-block .portfolio-links{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-item{
  /* box-shadow: 1px 1px 10px #00000012; */
  background: #f7f7ff;
  border-radius: 10px;
  padding: 2rem;
}
.service-item svg{
width: 4rem;
height: 4rem;
border-radius: 5px;
padding: 10px;
margin-bottom: 15px;
background: white;
}
.service-item-title{
  color:#45505b;
  
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.hero-bg{
  position: relative;
}
/* .hero-bg::after{
  position: absolute;
  content:'';
  top:0;
  left:0;
  width: 50px;
  height: 50px;
  background: cornflowerblue;
} */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #440707;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #440707;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #440707;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .footer-wrapper{
    flex-direction: column;
    
  }
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}
@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
}
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span, .nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}
@media (min-width: 992px) {
  .nav-menu a, .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  color: #fff;
  background: #440707;
}
.nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
  color: #fff;
}
.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}
.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}
.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #440707;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  /* background: url("../img/hero-bg.jpg") top right no-repeat;
  background-size: cover; */
  position: relative;
}

#hero::after{
  position: absolute;
  content: "UI";
  font-size: 33rem;
  color: white;
  z-index: -1;
  opacity: 1;
  font-weight: 700;
  right: 5rem;
  /* text-shadow: 1px 1px 52px #bf272726; */
}
@media (min-width: 992px) {
  /* #hero {
    padding-left: 160px;
  } */
}
@media (max-width: 992px) {
  #hero::after{
    content: "";
  }
}
#hero:before {
  content: "";
  /* background: rgba(255, 255, 255, 0.8); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
}
#hero p {
  color: #000000;
  margin: 15px 0 0 0;
  font-size: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: #440707;
  letter-spacing: 1px;
}
#hero .social-links {
  margin-top: 30px;
}
#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
#hero .social-links a:hover {
  color: #440707;
}
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 30px;
    line-height: 55px;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /* background: #f7f8f9; */
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  /* margin: 0 0 15px 0; */
}
#footer strong a {
  text-decoration: none;
  color:#440707;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  /* margin: 0 0 40px 0; */
}
#footer .social-links {
  /* margin: 0 0 40px 0; */
  display: flex;
}
#footer .social-links a {
  font-size: 14px;
display: flex;
background: #440707;
color: #fff;
border-radius: 50%;
margin-right: 5px;
text-align: center;
width: 25px;
height: 25px;
transition: 0.3s;
justify-content: center;
align-items: center;
text-decoration: none;
}
#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}