
body {
  font-family: 'Inter', sans-serif;
  color: #0e0065;

  background-color:#ffffff;
  /* max-width:1200px; */
  margin: auto;
}

/* home page */
.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-links a {
  font-size: 24px;
  display: inline-block;
  color: #0e0065;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
.social-links a:hover {
  color: #6c63ff;
}
#hero {
  height: 100vh;
}
.profile-img-box{
  width: 50px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin: auto;
}
.profile-img{
  display: block;
  width: 100%;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
}

#hero p{
  color:rgb(13, 0, 101);
  font-size: 24px;
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
}
#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.banner-block{
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  /* padding: 0 3rem; */
}
.banner-txt {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  /* line-height: 56px; */
  color: #0e0065;
  font-family: 'Quicksand', sans-serif;
}
.banner-txt-mark {
  color: #6c63ff;
  letter-spacing: 1px;
}

.profileDescription{
  font-size: 24px;
  margin: 1rem 0;
}

.resume-download-block{
 
}

.download-resume-btn{
  background-color: #ffffff2b;
  color: #0e0065;
  display: flex;
  align-items: center;
  border: 3px dashed #0e006526;
  border-radius: 200px;
  padding: 2rem;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
}
.btn-outline-brand{
  border: 1px solid #0e0065;
  color: #0e0065;
  background: white;
  flex-shrink: 0;
}


@media (max-width: 575.98px) {
  #hero {
    height: unset;
}
  #hero h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 2rem;
  }
  #hero .mainTxt{ font-size: 25px;}
  #hero p {
    font-size: 1rem;
}
.banner-block{
  flex-direction: column;
  height: unset;
  gap: 2rem;
}
}