
/* work page */
.container-innerPage{
  max-width: 850px;
  margin: auto;}

 .work-card{
  display: flex;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #f4f4f4;
    border-radius: 12px;
    background-color: #fff;

    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 2%);
    padding-top: 39px;
    padding-left: 25px;

    -webkit-transition: border-color 300ms ease, -webkit-transform 300ms ease;
    transition: border-color 300ms ease, -webkit-transform 300ms ease;
    transition: border-color 300ms ease, transform 300ms ease;
    transition: border-color 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
 }
 .work-card:hover {
  border-color: #141414;
  -webkit-transform: scale3d(0.99, 0.99, 1.01);
  transform: scale3d(0.99, 0.99, 1.01);
 }
 .work-card-left{
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 48px;
  max-width: 45%;
 }
 .work-card-right{
  max-width: 55%;
}
.work-card-title{
  font-size: 24px;
  margin: 1rem 0;
  color: #0e0065;
  font-family: 'Quicksand', sans-serif;
}
.work-card-text{
  font-size: 18px;
  color: #0d006590;
  font-family: 'Mulish', sans-serif;
}
 .tools-used{
  
  gap:1rem;

  
 }
 .tool{
color: #0e0065;
padding :1rem;
background-color: #0e00650f;
border-radius:5px;
font-weight: 700;
 }
 .view-work{
  font-size: 18px;
  text-decoration: none;
  color: #0e0065;
  font-family: 'Mulish', sans-serif;
 }

 


  @media (max-width: 575.98px) {
    .container-innerPage{
      padding: 2rem;}
    .work-card {
      flex-direction: column;
    }
    .work-card-left{ max-width: unset;}
    .work-card-right{max-width: unset;}
  }