.banner-wrapper{
    text-align: center;
    margin: 3rem 0;
   }
   .banner-desc{
    width: 600px;
    margin: auto;
   }
   @media (max-width: 767.98px) {
    .banner-desc{
      width: 90%;
    }
    }